html{
    height: 100%;
}

body{
  min-width: 250px;
  height: 100%;
}

header{
  background-image: url("../img/castelo.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-bottom: 1em;
  position: relative;
  min-height: 430px;
}
.navbar{
  z-index: 1;
}

.TopCasaFina-banner{
  color: #FFF;
  background-color: rgba(0, 0, 0, .6);
  margin: 2em;
  padding: .6em;
  border-radius: 10px;
  position: absolute;
  top: 40%;
}
  .TopCasaFina-banner p{
    margin-bottom: .2rem;
  }

.card{
  margin: .4em 0;
}

.jumbotron{
  margin: .5em 0;
}

.titulo-depoimentos{
  background-color: #0275D8;
  padding: 1em .5em;
  margin-bottom: 0;
}

section{
    margin-bottom: 2em;
}

footer{
  background-color: #333;
  color: #fff;
  padding: 1em;
  padding-bottom: 2em;
}
  footer address{
    margin: 0;
  }


@media screen and (min-width: 768px) {
  #paineis-sobre .card{
    margin-top: 0;
  }
  /*.card-header, .card-body{
    padding: .6em;
  }*/
}
